.App {
  text-align: center;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#close{
  transform: scale(2);
  cursor: pointer;
}

li{
  list-style: none;
  font-size: medium;
}


input:focus{
  outline: none;
}