.App {
  text-align: center;
  background-color: #8f4df8
}

#close{
  cursor: pointer;
}

li{
  list-style: none;
  font-size: medium;
}

#checkbox{
  transform: scale(2);
  margin-right: 11px;
}

input:focus{
  outline: none;
}